/* RESET */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f5f8fc;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #0b3d91;
  color: white;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;

  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
  url('images/hero.jpg');

  background-size: cover;
  background-position: center;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: white;
  color: #0b3d91;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background: #e6e6e6;
}

/* SECTION */
.section {
  padding: 70px 40px;
  text-align: center;
}

.section h2 {
  margin-bottom: 20px;
  color: #0b3d91;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  margin-top: 30px;
}

/* CARD */
.card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* CEO */
.ceo {
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: left;
  margin-top: 30px;
}

.ceo img {
  width: 220px;
  border-radius: 10px;
}

/* IMAGES */
.grid img {
  width: 100%;
  border-radius: 10px;
  transition: 0.3s;
}

.grid img:hover {
  transform: scale(1.05);
}

/* FOOTER */
footer {
  background: #0b3d91;
  color: white;
  text-align: center;
  padding: 20px;
}

/* MOBILE */
@media(max-width:768px){
  header {
    flex-direction: column;
  }

  .ceo {
    flex-direction: column;
    text-align: center;
  }

  .hero h1 {
    font-size: 30px;
  }
}
